* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-family: "Open Sans", sans-serif;
    --color1: #E1624F; 
    --color2: #0C51A7;
    --color3: #591B98;
    --color4: #E5245E;
    --color5: #E95E10;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    border-bottom: 1px solid rgba(0, 0, 0, 0.295);
}

.space {
    width: 90%;
    margin: 60px 0;
}

img {
    background-size: cover;
    width: 100%;
}

article {
    border-bottom: 1px solid rgba(0, 0, 0, 0.295);
}

.p-style {
    color: var(--color1);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

h1, h2 {
    font-size: 36px;
    font-weight: 700;
}

section:first-of-type {
    padding-top: 40px;
}

.about-main {
    padding-bottom: 50px;
}

.about-card {
    padding-bottom: 50px;
}

div.busan-img {
    padding: 40px 0;
}

div.busan-img p {
    padding: 10px 20px 0;
    text-align: center;
    font-style: italic;
    font-size: 16px;
}

h3 {
    font-size: 28px;
    padding-left: 10px;
}

h3 + p:first-of-type {
    font-size: 16px;
    padding-bottom: 20px;
}

.list > p {
    font-size: 16px;
    font-weight: 700;
}

.blue-li {
    color: var(--color2);
}

li {
    margin-left: 30px;
    font-weight: 600;
}

li::marker {
    color: black;
}

.style-li li:first-of-type {
    color: var(--color3);
}

.style-li li:nth-child(2) {
    color: var(--color4);
}

.style-li li:nth-child(3){
    color: var(--color5);
}

footer {
    padding-top: 30px;
    text-align: center;
}

footer p {
    font-weight: 400;
    font-size: 16px;
}

footer p:first-of-type {
    padding-bottom: 40px;
}